.cart_item {
  display: flex;
  padding: 1.5em;
  .imgandcounter {
    display: flex;
    flex-direction: column;
  }
  .data_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
